@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the library administrators portal!</h1>
    <h4>To show, delete, add or edit books, click on the "Books" tab above.</h4>
</div>
